doctype html
html
    head
        title Playlists
        style
            include bootstrap.min.css
            include style.css
    body
        h1 Playlists
        div.container
            div.row
                div.col
                    b Name
                div.col
                    b ID
                div.col
                    b Collaborative
            each playlist in playlists
                a(id= playlist.id, class='row clickable')
                    div.col
                        p= playlist.name
                    div.col
                        p= playlist.id
                    div.col
                        p= playlist.collaborative
        script
            include script.js
