html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(0deg, #191414, #5e5a57);
    color: #FFF;
}

h1 {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    max-width: 95%;
}

.clickable {
    color: #FFF;
}

.clickable:hover {
    color: #1DB954;
    background-color: #747270;
    border-radius: 5px;
    cursor: pointer;
}
