doctype html
html
    head
        title Duplicate songs in your playlist
        style
            include bootstrap.min.css
            include style.css
    body
        h1 Duplicate songs in your playlist
        div.container
            div.row
                div.col
                    b Artist(s)
                div.col
                    b Name
                div.col
                    b Album name
                div.col
                    b ID
            each track in tracks
                a(id= track.id, class='row clickable')
                    div.col
                        p= track.artists
                    div.col
                        p= track.name
                    div.col
                        p= track.album
                    div.col
                        p= track.id
