.backButton {
    color: #fff;
    background-color: #1ed760;
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 16px;
    transition-property: background-color;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
}

.backButton:hover {
    background-color: #1cec65;
}